html, body, #react-mountpoint {
    height: 100%;
}

#main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.config {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

}

.select {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

.extended-select {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.select-label {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 8px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10.5rem;
    magrin: 0;
    background-color: #3498db;
    border: none;
    border-radius: 0.3125rem;
    text-transform: uppercase;
    overflow: hidden;
}

.stopwatch {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
